body {
	font-family: "comic sans ms" "微软雅黑";
}

.head {
	width: 100%;
	text-align: center;
	background: #6f5499;
}

.head h1 {
	color: #fff;
	text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);
	padding-top: 30px;
}

.head h1 small {
	text-align: right;
}

.head p {
	text-align: right;
	color: #EEE;
	font-size: 1.2em;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width:992px) {
	.head p {
		text-align: right;
		color: #EEE;
		font-size: 1.8em;
		text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
		padding-right: 20%;
	}
}

.body {
	color: #888;
}

.body p {
	font-size: 1.2em;
	padding-left: 10px;
}

.sj {
	padding-left: 10px;
}

.sj-2 {
	padding-left: 20px;
}

.sjt-1 {
	padding-top: 10px
}

.sjt-2 {
	padding-top: 20px;
}

@media only screen and (max-width:992px) {
	.sf-8 {
		width: 80%;
		height: 80%;
	}
	.sf-9 {
		width: 90%;
		height: 90%;
	}
	.sf-10 {
		width: 100%;
		height: 100%;
	}
}

.body .p-title {
	font-style: italic;
	font-size: 1.2em;
	color: #777;
}

.body .sj-2 {
	padding-left: 20px;
}

.container img{
	box-shadow: 1px 3px 2px 2px rgba(0,0,0,.1);
}
