body {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
	background: #F5EDCE;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

a:link,
a:hover,
a:active,
a:visited {
	text-decoration: none;
}

.head {
	width: 100%;
	height: 70px;
	position: fixed;
	background: rgba(0, 0, 0, 0.2);
	top: 0;
	left: 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.border-circle {
	border: 1px solid #eee;
	border-radius: 50%;
}

.head img {
	margin: 5px 20px 0px;
	height: 60px;
	width: 60px;
	float: left;
}

.head h1 {
	padding: 0;
	margin: 0px 0px 0px 20px;
	display: inline-block;
	float: left;
	height: 70px;
	line-height: 70px;
	color: #565656;
	font-family: latha;
}

.head .nav {
	list-style: none;
	height: 100%;
	margin-right: 100px;
}

.nav li a {
	float: right;
	width: 120px;
	line-height: 100%;
	transition: all 0.6s;
	text-align: center;
	height: 70px;
	line-height: 70px;
	display: block;
	color: #555;
}

.nav li a:hover {
	background: #aaa;
	color: #FFF;
}

.main-body {
	padding: 10px 5%;
}

.wrap {
	margin-top: 71px;
	width: 100%;
	height: 100%;
}

.page {
	height: 900px;
	position: relative;
}

.page h2 {
	font-size: 4em;
	color: #01BF9D;
	text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2);
	border-bottom: 1px solid #bbb;
	padding-bottom: 0px;
	width: 90%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: none;
	font-family: latha;
}

.page .page-content {
	position: relative;
	width: 1000px;
	height: 80%;
	margin: 0px auto;
	border: 1px solid #000;
}


/**
 * page1部分
 */

.page img {
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translateX(-50%);
	height: 200px;
	width: 200px;
	display: none;
}

.self-info {
	position: absolute;
	top: 35%;
	width: 100%;
}

.self-info p {
	width: 100%;
	color: #878787;
	font-size: 1.5em;
	font-weight: bold;
	display: none;
}

.self-info p span {
	display: inline-block;
	box-sizing: border-box;
}

.self-info .panel-left {
	width: 50%;
	text-align: right;
	padding-right: 2%;
}

.self-info .panel-right {
	width: 50%;
	text-align: left;
	padding-left: 2%;
}


/**
 * page2部分
 */

.p2-box,
.p3-box {
	position: absolute;
	transform: translate(-50%, -50%);
}

.p2-box .border-b {
	position: absolute;
	border: 2px solid #FFF;
	border-top-color: #1D1F20;
	border-bottom-color: #1D1F20;
	border-radius: 50%;
	width: 98%;
	height: 98%;
	top: 1%;
	left: 1%;
	animation: 1s borderRotate0 infinite linear;
}

.p2-box .border-s {
	position: absolute;
	border: 2px solid #76EAE0;
	border-top-color: #FFF;
	border-bottom-color: #FFF;
	border-radius: 50%;
	width: 90%;
	height: 90%;
	top: 5%;
	left: 5%;
	animation: 1s borderRotate45 infinite linear;
}

.p2-box .content {
	position: absolute;
	background: #5BABE6;
	border-radius: 50%;
	width: 85%;
	height: 85%;
	transform: translate(12%, 12%);
}

.p2-box .content p {
	padding: 0;
	margin: 0;
	text-align: center;
	color: #FFF;
	font-size: 1.2em;
}

.p2-box .tips {
	border: 1px solid #664BB6;
	border-radius: 6px;
	background: #55BDC6;
	color: #272822;
	position: absolute;
	top: -40px;
	left: 25%;
	z-index: 1;
}

.p2-box .tips:after {
	content: "";
	border: 10px solid transparent;
	border-top-color: #1AF0DB;
	position: absolute;
	left: 5%;
}

.p2-box .tips p {
	padding: 5px 10px;
	margin: 0px;
	font-weight: 150;
}


/**
 * 效果测试部分开始
 */

.p2-box:nth-of-type(1) {
	height: 110px;
	width: 110px;
	top: 15%;
	left: 13%;
}

.p2-box:nth-of-type(2) {
	height: 90px;
	width: 90px;
	top: 18%;
	left: 65%;
}

.p2-box:nth-of-type(3) {
	height: 90px;
	width: 90px;
	top: 24%;
	left: 30%;
}

.p2-box:nth-of-type(4) {
	height: 120px;
	width: 120px;
	top: 34%;
	left: 47%;
}

.p2-box:nth-of-type(5) {
	height: 150px;
	width: 150px;
	top: 52%;
	left: 33%;
}

.p2-box:nth-of-type(6) {
	height: 80px;
	width: 80px;
	top: 50%;
	left: 62%;
}

.p2-box:nth-of-type(1) .tips p {
	width: 240px
}

.p2-box:nth-of-type(2) .tips p {
	width: 300px
}

.p2-box:nth-of-type(3) .tips p {
	width: 180px
}

.p2-box:nth-of-type(4) .tips p {
	width: 380px
}

.p2-box:nth-of-type(5) .tips p {
	width: 350px
}

.p2-box:nth-of-type(6) .tips p {
	width: 250px
}

.p2-box:nth-of-type(1) .content p {
	line-height: 90px;
	font-size: 1.8em;
}

.p2-box:nth-of-type(2) .content p {
	line-height: 76px;
	font-size: 1.6em;
}

.p2-box:nth-of-type(3) .content p {
	line-height: 76px;
	font-size: 1.6em;
}

.p2-box:nth-of-type(4) .content p {
	line-height: 102px;
	font-size: 2.0em;
}

.p2-box:nth-of-type(5) .content p {
	line-height: 127px;
	font-size: 2.4em;
}

.p2-box:nth-of-type(6) .content p {
	line-height: 68px;
	font-size: 1.3em;
}


/**
 * 效果测试部分结束
 */


/**
 * p3开始
 */

.p3-box {
	top: 10%;
}

.p3-box .title {
	width: 87px;
	height: 100px;
	transform: scale(0);
	transition: all 0.6s;
}

.p3-box .title:hover {
	transform: scale(1.2);
}

.p3-box .anit {
	transform: scale(1);
	
}

.p3-box #p3-title-1 {
	background: url(../img/html.png) no-repeat;
}

.p3-box #p3-title-2 {
	background: url(../img/css.png) no-repeat;
}

.p3-box #p3-title-3 {
	background: url(../img/js.png) no-repeat;
}

.p3-box .content{
	position: absolute;
	top:120px;
	width: 810%;
	height: 400%;
	background: #ABA4F4;
	box-shadow: 3px 3px 16px 3px rgba(0,0,0,0.2);
}

.p3-box .content p{
	color: #eee;
	font-size: 2.0em;
	padding: 0px 60px;
}

.p3-box .content p:before{
	content: "";
	border: 6px solid transparent;
	border-left-color: #333;
	position: absolute;
	left: 35px;
	transform: translateY(15px);
}

/*
 * p3结束
 */


/*
 * p3 -测试开始
 */

.p3-box:nth-of-type(1) {
	left: 20%;
}

.p3-box:nth-of-type(2) {
	left: 50%;
}

.p3-box:nth-of-type(3) {
	left: 80%;
}

.p3-box:nth-of-type(1) .content{
	left: -10px;
	display: none;
}

.p3-box:nth-of-type(2) .content{
	left: -310px;
	display: none;
}

.p3-box:nth-of-type(3) .content{
	left: -610px;
	
}


/*
 * p3-测试结束
 */


/**
 * 动画部分
 */

.page .title-ani {
	display: block;
	animation: titleAni 0.8s ease-in 0s both 1;
}

@keyframes titleAni {
	0% {
		width: 0px;
	}
	20% {
		width: 65px;
	}
	40% {
		width: 130px;
	}
	60% {
		width: 195px;
	}
	80% {
		width: 260px;
	}
	100% {
		width: 80%
	}
}

.page .img-ani {
	animation: imgAni 0.8s ease-in-out 0s both;
	display: inline;
}

@keyframes imgAni {
	0% {
		height: 50px;
		width: 50px;
		transform: translate(-25px, 75px);
	}
	100% {
		height: 200px;
		width: 200px;
		transform: translateY(0px);
		transform: translateX(-100px);
	}
}

.self-info .self-ani {
	animation: selfinfoAni 0.8s 0s ease both;
	display: block;
}

@keyframes selfinfoAni {
	from {
		transform: rotateX(90deg) translateY(0%);
		transform-origin: bottom;
	}
	to {
		transform: rotateX(0deg) translateY(100%);
	}
}

@keyframes borderRotate0 {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(180deg);
	}
}

@keyframes borderRotate45 {
	from {
		transform: rotate(225deg);
	}
	to {
		transform: rotate(45deg);
	}
}